<footer>
  <div class="w-100 mw-none ph6 mw7-m mw8-l center f3">
    <div class="row">
      <div class="six columns mt3 mt0-l">
        <h4>Social</h4>
        <div class="flex flex-row flex-wrap">
          {{!-- <a rel="me" href="https://social.rust-lang.org/@rust" target="_blank" rel="noopener" alt="mastodon link"><img src="{{root}}images/mastodon.svg" alt="mastodon logo" title="Mastodon"/></a> --}}
          {{!-- <a href="https://twitter.com/rustlang" target="_blank" rel="noopener" alt="twitter link"><img src="{{root}}images/twitter.svg" alt="twitter logo" title="Twitter"/></a> --}}
          {{!-- <a href="https://www.youtube.com/channel/UCaYhcUwRBNscFNUKTjgPFiA" target="_blank" rel="noopener" alt="youtube link"><img style="padding-top: 6px; padding-bottom:6px" src="{{root}}images/youtube.svg" alt="youtube logo" title="YouTube"/></a> --}}
          {{!-- <a href="https://discord.gg/rust-lang" target="_blank" rel="noopener" alt="discord link"><img src="{{root}}images/discord.svg" alt="discord logo" title="Discord"/></a> --}}
          <a href="https://github.com/ShuochengWang" target="_blank" rel="noopener" alt="github link"><img src="{{root}}images/github.svg" alt="github logo" title="GitHub"/></a>
          <a href="mailto:wangshch5@outlook.com" target="_blank" rel="noopener" alt="email link"><img src="{{root}}images/email.svg" alt="email logo" title="Email"/></a>
        </div>
      </div>
      <div class="six columns mt3 mt0-l">
        <h4>RSS</h4>
        <ul>
          <li><a href="{{root}}feed.xml">Feed</a></li>
        </ul>
      </div>

    </div>
    <div class="attribution">
      Maintained by
      <a href="{{blog.github}}" target="_blank" rel="noopener">{{blog.maintained_by}}</a> !
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="{{root}}scripts/highlight.js"></script>
